<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="author" content="PiBu" />
    <meta name="description" content="Evaluate other people and compare to them" />
    <meta name="keywords" content="Soulrate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />
    <title>{% block title %}Home{% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>